.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    background-color: #efeff5;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 20px 50px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
}

.header__column {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo__main {   /*SAMSUNG*/
    font-family: Oswald;
    font-size: 35px;
    font-weight: bolder;
    color: rgb(0, 0, 190);
}

.logo__add {
    text-transform: uppercase;
    font-size: 11px;
    margin-left: 8px;
    font-weight: bold;
}

.depth_text {
    padding-top: 10px;
    font-size: 12px;
}

.column-title {
    height: 100%;
    padding: 30px;
    margin-left: 50px;
}

.mega-menu {
    position: absolute;
    width: 100%;
    height: 210px;
    background-color:  #efeff5;
    float: left;
    left: 0;
    display: flex;
    align-items: top;
    justify-content: space-between;
    padding: 40px 100px;
    margin-top: 26px;
    border-top: 0.5px solid rgb(255, 255, 255);
    opacity: 0;
}

.hidden-column__title {
    font-size: 16px;
    font-weight: bold;
    width: 130px;
    padding-bottom: 10px;
    border-bottom: 0.5px solid rgb(236, 236, 236);
}

.column-title:hover ~ .mega-menu {
    opacity: 1;
}

.mega-menu:hover .mega-menu{
}