.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    z-index: 9999;
    background-color: #efeff5;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 20px 40px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
}

.header__column {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@keyframes oppositeAnimation {
    from{
        background-color: #efeff5;
    }
    to{
        background-color: rgb(0, 0, 190);
    }
}

.header__search i:hover {
    animation: oppositeAnimation 0.5s ease-in-out;
    background-color: rgb(0, 0, 190);
    color: rgb(255, 255, 255);
}

.header__search i{
    padding: 10px;
    background-color: #efeff5;
    border: 0.7px solid #020202;
}

.logo__main {   /*SAMSUNG*/
    font-family: Oswald;
    font-size: 35px;
    font-weight: bolder;
    color: rgb(0, 0, 190);
}

.logo__add {
    text-transform: uppercase;
    font-size: 11px;
    margin-left: 8px;
}

.depth_text {
    margin: 0 auto;
    align-items: center;
    padding: 5px 0px;
    font-size: 12px;
}

.column-title{
    padding: 30px;
    height: 100%;
    margin-left: 50px;
}

.mega-menu {
    position: absolute;
    width: 100%;
    height: 210px;
    background-color:  #efeff5;
    float: left;
    left: 0;
    display: flex;
    align-items: top;
    justify-content: space-between;
    padding: 40px 140px;
    margin-top: 24px;
    border-top: 0.5px solid rgb(255, 255, 255);
    display: none;
}

.hidden-column__title {
    font-size: 16px;
    font-weight: bold;
    width: 130px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    border-bottom: 0.5px solid rgb(178, 182, 224);
}

@keyframes showHiddenBar {
    0%{
        opacity: 0;
    }
    60%{
        opacity: 1;
    }
 
}

.header ul:hover .mega-menu{
    visibility: visible;
    display: flex;
    animation: showHiddenBar 0.5s ease-in-out;
    }

.header__column .title:hover {
    color: rgb(0, 0, 190);
}

.depth_text:hover {
    background-color: #f7f7f7;
    color: rgb(0, 0, 190);
}