.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    background-color: rgb(241, 241, 241);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 20px 50px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
}

.header__column {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo__main {   /*SAMSUNG*/
    font-family: Oswald;
    font-size: 35px;
    font-weight: bolder;
    color: rgb(0, 0, 190);
}

.logo__add {
    text-transform: uppercase;
    font-size: 11px;
    margin-left: 8px;
    font-weight: bold;
}

.header__hidden-bar{ /*hidden bar 전체*/
    /*display: none;*/
    left: 0;
    position: static;
    color: #020202;
    border-top: 0.5px solid rgb(212, 212, 235);
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.hidden-title{
    width: 120px;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: rgb(219, 216, 235) 0.5px solid;
}
.depth_text {
    padding-top: 10px;
    font-size: 12px;
}

.hidden {
    display: flex;
    justify-content: space-between;
}

.column-title {
    margin-left: 50px;
}

.header__column:hover ~ .header__hidden-bar {
    /*마우스 가져다 대면 보이게 함*/
    display: revert;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  
}